* {
  box-sizing: border-box;
}

/* Set the default font */
body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

/* Set the main padding of the main section */
main {
  padding: 20px;
}

/* Header Component */
/* Make the header a flex box centerd in the middle and set its background
color and font color. */
.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: #96acfb;
  color: white;
  padding: 20px;
}

/* Ensure the image fits the parent*/
.header--image {
  height: 100%;
  margin-right: 6px;
}

/* Style the title */
.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

/* Tutorial Component */
.bold {
  font-weight: bold;
}

/* Form Component */
.form {
  gap: 17px;
  margin-bottom: 17px;
}

.form--input {
  font-family: "Nunito", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

/* Meme component */
.meme {
  position: relative;
  width: 700px;
  max-width: 100%;
  margin: 1em auto;
}

/* Set the size of the image */
.meme--image {
  display: flex;
  border-radius: 3px;
  width: 100%;
}

/* Adds new lines wherever there's a newline character */
.meme--facts {
  white-space: pre-line;
  vertical-align: bottom;
}
